{% load staticfiles %}
<!DOCTYPE html> 
<html>
<head>
<meta charset="utf-8">
<title>jQuery Mobile Web App</title>
<link href="{% static 'css/jquery.mobile.theme-1.3.1.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/jquery.mobile.structure-1.3.1.min.css' %}" rel="stylesheet" type="text/css"/>

<script src="{% static 'js/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.mobile-1.3.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/nuovaTimeline/TimeLineColor.js' %}" type="text/javascript"></script>
<script src="{% static 'js/nuovaTimeline/memories.js' %}" type="text/javascript"></script>
<link href="{% static 'css/nuovaTimeline/myStyle.css' %}" rel="stylesheet" type="text/css"/>
</head> 
<style>
html,body{
overflow:hidden;
}
.abc{
	position:absolute;
	background-repeat:no-repeat;
	background-position:center; 
	height:100%;
}

.console{
	border-bottom:80px solid blue;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   z-index:10;
  
	}
	
	
	.info{
		
		position:absolute;
		width:60px;
		visibility:hidden;
		height:60px;
		border-radius:60px;
		z-index:15;
		}
</style>
<script>


function isTouchDevice() {
	
   return 'ontouchstart' in document.documentElement;
}
var prevPos2;
var postPos2;
var divHeight;

function toggleDown(){
	if($('#my-collaspible').css("top").replace("px","")==-210){
		$('#my-collaspible').animate({
       top: '-10px'});
		}else  {
		$('#my-collaspible').animate({
       top: '-210px'});
			}
	}
	
function toggleUp(){
	
	var top=$('#my-collaspible2').css("top");
	alert(prevPos2+postPos2);
if(top==prevPos2){
	$('#my-collaspible2').animate({
		top:postPos2
	   });
	 	}else if(top==postPos2){
	
		$('#my-collaspible2').animate({
      top:prevPos2
	  
	   })
			}
	}

$(document).ready(function(e) {
	  
    if(!isTouchDevice()){
		setTimeout(function(){
		prevPos2 =$('#my-collaspible2').css("top").replace("px","");
	   divHeight=($('#my-collaspible2').css("height")); 
	   toggleUp()},800);
	
	     postPos2=(prevPos2-divHeight+5)+"px";
		 prevPos2+="px"
		}else{
			
		prevPos2 =parseInt($('#my-collaspible2').css("top").replace("px",""));
	   divHeight=parseInt($('#my-collaspible2').css("height").replace("px","")); 
	   postPos2=(prevPos2-divHeight+5)+"px";
			}
			
});

function infoToggle(){
	var i=$(".info");

	if($(i[0]).css("visibility")=="hidden"){
		
		i.css("visibility","visible");
		
		}else{
		i.css("visibility","hidden");
	}
	
	}
	


//jQuery( ".selector" ).on( "tap", function( event ) { ... } )
$(document).ready(function(e) {
$("#close").on( "tap",toggleDown);
$("#commands").on( "tap",toggleUp);
$("#infos").on( "tap",infoToggle);
$("#settings").on( "tap",toggleDown);
$("#back2").on( "tap",toggleUp);
$("#left").on( "tap",shiftAm(-300));
$("#right").on( "tap",shiftAm(300));
$("#zoomOut").on( "tap",zoomOut);
$("#zoomIn").on( "tap",zoomIn);  

$("#popUpTouch").on( "tap",function() {
$("#positionWindow").popup("open",{"transition":"flow"});
//mobile.changePage($("#popUpTouch").attr("href"));
	//window.open($("#popUpTouch").attr("href"));
	});
$("#back1").on( "tap",function() {
$("#positionWindow").popup("close",{"transition":"flow"});
//$.mobile.changePage($("#back1").attr("href"));
	//window.open($("#back1").attr("href"));
	});

});
$(document).bind("tap taphold swipe swiperight swipeleft",function(e){e.preventDefault();});
$(document).on("mousewheel DOMMouseScroll",function(e){e.preventDefault();});
$(document).on("tap",function(e){e.preventDefault();});
</script>
<bodyxf> 



<div data-role="page" id="timelinePage" style="position:absolute;z-index:-1;background-image:url('{% static 'images/background.png' %}');background-repeat:repeat;" >
  <div style="position:absolute;top:-210px;left:0px;height:200px;background:#F00;border-radius:0px;z-index:10;width:100%" id="my-collaspible" >
  	<a onClick="toggleDown()" data-role="button" data-icon="delete" id="close"  style="width:200px;left:2%;top:5%;">Chiudi</a>
    <a onClick="toggleUp()"  data-role="button" data-icon="bars" id="commands"   style="width:200px;left:2%;top:12%;">Comandi</a>
    <a onClick="infoToggle()" data-role="button" data-icon="info"  id="infos"  style="width:200px;left:2%;top:18%;">Più informazioni</a>
     <fieldset data-role="controlgroup" style="position:absolute;width:220px; left:23%;top:5%;">
          <input type="checkbox" name="checkbox-1" checked="true" id="checkbox-1" class="custom" onClick="filterListener('private')" />
          <label for="checkbox-1">Personali</label>
          <input type="checkbox" name="checkbox-2" checked="true" id="checkbox-2" class="custom" onClick="filterListener('public')"  />
           <label for="checkbox-2">Generali</label>
              <input type="checkbox" name="checkbox-3" checked="true" id="checkbox-3" class="custom" onClick="filterListener('music')"  />
           <label for="checkbox-3">Musica</label>
               <input type="checkbox" name="checkbox-4" checked="true" id="checkbox-4" class="custom" onClick="filterListener('text')"  />
               <label for="checkbox-4">Testo</label>
           </fieldset>
     </div>
     	<a class="abc" onClick="toggleDown()" id="settings"  style="position:absolute;width:60px;left:85%;height:60px;border-radius:60px;background-image: url('{% static 'images/gear.png' %}');z-index:25"   data-role="button"  data-iconpos="notext"></a>
        <a class="abc" id="popUpTouch"  href="#positionWindow"  data-transition="flow" data-rel="popup" data-position-to="window"  style="position:absolute;width:60px;left:92%;height:60px;border-radius:60px;background-image: url('{% static 'images/help.png' %}');z-index:25"   data-role="button"  data-iconpos="notext"></a>
	
	<div data-role="content" id="timeLine" style="position:absolute;top:0px;width:100%;height:400;overflow-x:scroll;overflow:hidden;background-image:url('{% static 'images/background.png' %}');background-repeat:repeat;" >
     <hr id="myLine">	
     
	</div>

     
<div data-role="popup" id="positionWindow" style="width:200px;height:200px;">
<a id="back1" href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<p> {{jsonMem}} </p>
</div>

   <div class="console" style="position:absolute;top:100%;width:80%;margin-left:10%;margin-right:10%;border-radius:0px;z-index:10;" id="my-collaspible2" >
<a onClick="toggleUp()" id="back2" style="position:absolute" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-left">Close</a>
      <a class="abc" id="left" onClick="shiftAm(-300)" style="width:60px;left:15%;height:60px;border-radius:60px;z-index:15;background-image: url('{% static 'images/left.png' %}');"   data-role="button"  data-iconpos="notext"></a>
      <a class="info" style="left:25%;" data-role="button">
      <h6 style="position:relative;top:-35px;left:-3px">Anno</h6>
     <h2 id="infoYear" style="position:relative;top:-55px;left:-80%">1923</h2>
      </a>
      <a class="abc" id="right" onClick="shiftAm(300)" style="width:60px;left:35%;height:60px;;border-radius:60px;z-index:15;background-image: url('{% static 'images/right.png' %}');"   data-role="button"  data-iconpos="notext"></a>
      <a class="abc" onClick="zoomOut()" id="zoomOut"  style="width:60px;left:55%;height:60px;border-radius:60px;z-index:15;background-image: url('{% static 'images/zoomIn.png' %}');"   data-role="button"  data-iconpos="notext"></a>
       <a class="info" style="left:65%;" data-role="button">
     <h6 style="position:relative;top:-35px;left:-3px">Scala</h6>
     <h2 id="infoScale"  style="position:relative;top:-55px;left:-75%">1.0x</h2>
      </a>
      <a class="abc" onClick="zoomIn()"  id="zoomIn" style="width:60px;left:75%;height:60px;border-radius:60px;z-index:15;background-image: url('{% static 'images/zoomOut.png' %}');"   data-role="button"  data-iconpos="notext"></a>
        </div>
   
</div>
</div>




</body>
</html>

