<html>

<script>
function removeClass(ele,cls) {
	if (hasClass(ele,cls)) {
    	var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
		ele.className=ele.className.replace(reg,' ');
	}
	}
function hasClass(ele,cls) {
	return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
}


function checkValues(event){
event.preventDefault();
TheForm = document.MyForm;
var username=TheForm.firstname.value;
var password=TheForm.password.value;
var title=document.getElementById('title');
var correctData=false;



if(username== "mario" && password == "rossi")
{
correctData=true;	
}
alert(correctData);


//  //IMPLEMENT SOME PYTHON CODE HERE
 
//tiri su la username e la password, se sono uguali a dei valori che decidi te tipo "mariorossi" e "12345678" allora metti correctData a true senno a false.. .spero vada bene








if(correctData){

title.innerHTML="Login in corso!";
title.style.color="#00ff00";
title.style.fontSize="30px";
{% load url from future %};
parent.location = {% url 'main:verifica' %};

}else{

title.innerHTML="Controlla i dati";
title.style.color="#ff0000";
title.style.fontSize="30px";
var d=document.getElementsByName("password")
d[0].className = d[0].className + " error";
setTimeout(function(){removeClass(d[0],"error");title.innerHTML="Log In";title.style.color="#777";},1500);


}



}
function redirect() {

	parent.location = "http://www.google.com/"
	
}


</script>
<head>
 {% load staticfiles %}
<link href = "{% static 'css/login.css' %}" type="text/css" rel="stylesheet" />
</head>

<body class="bodyGround" >
{% load url from future %} 
<div  class="loginDiv"style="background-color:#00ff00;height:350px;width:350px;margin: auto;">
<form  class="form-container" action="{% url 'main:verifica' %}" name="MyForm" method="POST">
{% csrf_token %} 
<div class="form-title" id="title"><h2>Log in</h2></div>
<div class="form-title">Name</div>
<input class="form-field" type="text" name="firstname"  method="POST"/><br />
<div class="form-title">Password</div>
<input class="form-field" type="password" name="password" method="POST" /><br />
<div>
<input class="submit-button" type="submit" value="Submit" onclick="checkValues(event)" style="width:40%;"/>
<span style="width:5%">or</span>

<input class="create-account" onClick="parent.location='http://www.google.com/'"  type="button" value="Create Account" style="width:50%;"/>
</div>
</form>
</div>
</body>
</html>
