{% load url from future %}
{% load staticfiles %}

<html>

<script>
function removeClass(ele,cls) {
	if (hasClass(ele,cls)) {
    	var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
		ele.className=ele.className.replace(reg,' ');
	}
	}
function hasClass(ele,cls) {
	return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
}


function checkValues(){
TheForm = document.MyForm;
var username=TheForm.firstname.value;
var password=TheForm.password.value;
var title=document.getElementById('title');
var correctData=false;



if(username.length>=3 && password.length>=3)
{
correctData=true;	
}


if(correctData){

title.innerHTML="Login in corso!";
title.style.color="#00ff00";
title.style.fontSize="30px";
return true;

}else{

title.innerHTML="Controlla i dati";
title.style.color="#ff0000";
title.style.fontSize="30px";
var d=document.getElementsByName("password")
d[0].className = d[0].className + " error";
return false;

}



}


</script>
<head>

<link href = "{% static 'css/login.css' %}" type="text/css" rel="stylesheet" />
</head>

<body class="bodyGround" >
<div  class="loginDiv"style="background-color:#00ff00;height:350px;width:350px;margin: auto;">
<form  class="form-container" name="MyForm" method="POST" onSubmit="return checkValues()" action = "{% url 'main:verifica' %}">
{% csrf_token %} 
<div class="form-title" id="title"><h2>Log in</h2></div>
<div class="form-title">Name</div>
<input class="form-field" type="text" name="firstname"/><br />
<div class="form-title">Password</div>
<input class="form-field" type="password" name="password" /><br />
<div>
<input class="submit-button" type="submit" name="submit" value="Submit" style="width:40%;"/>
<span style="width:5%">or</span>

<input class="create-account"  type="submit" name="submit" value="Crea Account" style="width:50%;"/>

</div>
</form>
</div>
</body>
</html>
