<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    {% load staticfiles %}
		<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
		<script src="{% static 'js/AddRicordo.js' %}"></script>
		<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
		<title>
			Reminiscence - Aggiungi ricordo
		</title>
		
	</head>
	<body>
	CONTROLLA I DATI
	{% load url from future %}
		<div id="container">
			<form id="contactform" class="rounded"  name="contactform" method="POST" action="{% url 'main:add2' %}">
			{% csrf_token %}
			<div id="dove>
				<label for="dove">Dove è successo?</label>
				<input name="luogo" id="luogo" type="text"/>
			</div>
			<div id="quando">
				<div data-role="fieldcontain">
					<label for="quando-decade" class="select"> Quando è successo</label>
						<select name="quando-decade" id="select-choice-1">
							<option value="1920">Anni '20</option>
							<option value="1930">Anni '30</option>
							<option value="1940">Anni '40</option>
							<option value="1950">Anni '50</option>
							<option value="1960">Anni '60</option>
							<option value="1970">Anni '70</option>
							<option value="1980">Anni '80</option>
							<option value="1990">Anni '90</option>
						</select>
				</div>
				<label for="anno"> Ricordi l'anno esatto? </label>
				<input type="number" name="anno" pattern="[0-9]*" id="number-pattern" value="1920" class="select">
				<script>var select = document.getElementById('select-choice-1');
					var input = document.getElementById('number-pattern');
					select.onchange = function() { input.value = select.value }
				</script>
				
				<div data-role="fieldcontain">
						<label for="quando-mese">E il mese?</label>
						<select name="quando-mese" id="select-choice-2">
							<option value="gen">gennaio</option>
							<option value="feb">febbraio</option>
							<option value="mar">marzo</option>
							<option value="apr">aprile</option>
							<option value="mag">maggio</option>
							<option value="giu">giugno</option>
							<option value="lug">luglio</option>
							<option value="ago">agosto</option>
							<option value="set">settembre</option>
							<option value="ott">ottobre</option>
							<option value="nov">novembre</option>
							<option value="dic">dicembre</option>
						</select>
				</div>
			</div>
			<div id="conchi">
				<label for="conchi">Con chi eri quando è successo?</label>
				<input id="tagwith" name="conchi" type="text" />
				
			
			</div>
				<input type="submit" value="Avanti"/>

			</form>
		</div>
	</body>
</html>
