<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Reminiscence</title>
    
        {% load staticfiles %}

	    <link href="{% static 'css/stili/verde.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/jquery.mobile.structure-1.3.0.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'js/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.mobile-1.3.0.min.js' %}" type="text/javascript"></script>
		
		<link href="{% static 'css/timeline/timelinestyle.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'js/timeline/timelinescript.js' %}" type="text/javascript"></script>
        
        	<div data-role="page" id="Timeline">
     			<div id="settings" data-role="panel"  data-position="left" data-display="overlay" data-dismissible="true" data-theme="a">
    			<a href="" data-role="button" data-theme="a">Sicurezza</a>
    			<a href="#FriendsPage" data-role="button" data-theme="a">Visualizza amici</a>
    			<a href="#FindFriendsPage" data-role="button" data-theme="a">Cerca persona</a>
     			<a href="#my-header" data-rel="close" data-role="button" data-theme="a">Chiudi</a>
    		</div>

  
            <div data-role="header">
           
            	<a href="#settings" data-role="button" data-icon="gear" data-iconpos="right">Impostazioni</a>
 				<p class="header">Ricordi</p>
 				<a href="#addPage" data-role="button" data-icon="plus"  data-iconpos="right">Aggiungi ricordo</a>

            </div>
            <div data-role="content" data-theme="a">            
            	<div id="bgIndex" onClick="changePage()" style="width:75%;float:left">
					<h2 id="recordTitle">Titolo</h2>
          			<img id="imageTitle" src="example.jpg" alt="image"/>
          		</div>
            	<div style="width:25%;float:right">
            		<fieldset data-role="controlgroup" >
          				<input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" onClick="changeListener()" />
          				<label for="checkbox-1">Personali</label>
          				<input type="checkbox" name="checkbox-2" id="checkbox-2" class="custom" onClick="changeListener()"  />
           				<label for="checkbox-2">Suggerimenti</label>
					</fieldset>
           		</div>
          	</div>
            <div data-role="footer">
            	<div  id="timelineContainer" style="width:90%;margin-left:auto;margin-right:auto;margin-top:auto;" >
                	<div id='back'></div>
                		<input onChange="changeListener()" type="range" id="slider"   />
					</div>
				</div>
        	</div>
   
   
  
      
        	
        	<div data-role="page" id="addRecordPage">
        		<form name="AggiuntaRicordo" action = "{% url 'main:add' %}" method = "POST">
        			{% csrf_token %}
						<fieldset>
            				<div data-role="header">
            					<a  style="width:25%;margin-left:5%;top:5%;"  href="#Timeline" data-role="button" data-transition="slide">Indietro</a> 
            					<p class="header">Aggiungi Ricordo</p>
						
            				</div>
            				<div data-role="content" data-theme="a">
            
           			    		<h2 >Titolo</h2>
              					<div data-role="fieldcontain" style="width:65%;margin-left:auto;margin-right:auto"  class="ui-hide-label">
                    				<input  id="titleSource" type="text" name="titolo"  value="" placeholder="Dai un titolo a questo ricordo..." />
                    			</div>
               					<h2 >Inserisci la data precisa.....</h2>
  								<div  data-role="controlgroup" data-type="horizontal"> 
    								<label for="select-choice-day1">Day</label>
                        			<select name="quando-giorno" id="select-choice-day1">
	                            		<option>Giorno</option>
    	                        		<option value=1>1</option>
        	                    		<option value=2>2</option>
            	                		<option value=3>3</option>
                	            		<option value=4>4</option>
                    	        		<option value=5>5</option>
	                            		<option value=6>6</option>
    	                        		<option value=7>7</option>
        	                    		<option value=8>8</option>
            	                		<option value=9>9</option>
                	            		<option value=10>10</option>
                    	        		<option value=11>11</option>
	                            		<option value=12>12</option>
    	                        		<option value=13>13</option>
        	                    		<option value=14>14</option>
            	                		<option value=15>15</option>
                	            		<option value=16>16</option>
                    	        		<option value=17>17</option>
                        	    		<option value=18>18</option>
	                            		<option value=19>19</option>
    	                        		<option value=20>20</option>
        	                    		<option value=21>21</option>
            	                		<option value=22>22</option>
                	            		<option value=23>23</option>
                    	        		<option value=24>24</option>
                        	    		<option value=25>25</option>
                            			<option value=26>26</option>
 	                           			<option value=27>27</option>
    	                        		<option value=28>28</option>
        	                    		<option value=29>29</option>
            	                		<option value=30>30</option>
                	            		<option value=31>31</option>
                    	    		</select>
   		                   			<label for="select-choice-month1">Month</label>
                       				<select name="quando-mese" id="select-choice-month1">
	                            		<option>Mese</option>
    	                        		<option value="jan">Gennaio</option>
        	                    		<option value="feb">Febbraio</option>
            	                		<option value="mar">Marzo</option>
                	            		<option value="apr">Aprile</option>
                    	        		<option value="may">Maggio</option>
                        	    		<option value="jun">Giugno</option>
                            			<option value="jul">Luglio</option>
                            			<option value="aug">Agosto</option>
                            			<option value="sep">Settembre</option>
                            			<option value="oct">Ottobre</option>
                            			<option value="now">Novembre</option>
                            			<option value="dic">Dicembre</option>
                       	 			</select>
                        			<label for="select-choice-year1">Year</label>
                        			<select name="anno" id="select-choice-year1">
                            			<option>Anno</option>
                            			<option value=1910>1910</option>
                            			<option value=1911>1911</option>
                            			<option value=1912>1912</option>
                            			<option value=1913>1913</option>
                            			<option value=1914>1914</option>
                            			<option value=1915>1915</option>
                            			<option value=1916>1916</option>
                            			<option value=1917>1917</option>
                            			<option value=1918>1918</option>
                            			<option value=1919>1919</option>
                            			<option value=1920>1920</option>
                            			<option value=1921>1921</option>
                            			<option value=1922>1922</option>
                           				<option value=1923>1923</option>
		                            	<option value=1924>1924</option>
        		                    	<option value=1925>1925</option>
                		            	<option value=1926>1926</option>
                        		    	<option value=1927>1927</option>
                            			<option value=1928>1928</option>
		                            	<option value=1929>1929</option>
        		                    	<option value=1930>1930</option>
                		            	<option value=1931>1931</option>
                        		   	 	<option value=1932>1932</option>
                           	 			<option value=1933>1933</option>
                           	 			<option value=1934>1934</option>
                           	 			<option value=1935>1935</option>
                           	 			<option value=1936>1936</option>
                           	 			<option value=1937>1937</option>
                           	 			<option value=1938>1938</option>
                           	 			<option value=1939>1939</option>
                           	 			<option value=1940>1940</option>
                           	 			<option value=1941>1941</option>
                           	 			<option value=1942>1942</option>
                            			<option value=1943>1943</option>
                            			<option value=1944>1944</option>
                            			<option value=1945>1945</option>
                            			<option value=1946>1946</option>
                            			<option value=1947>1947</option>
                            			<option value=1948>1948</option>
                            			<option value=1949>1949</option>
                            			<option value=1950>1950</option>
                            			<option value=1951>1951</option>
                            			<option value=1952>1952</option>
                            			<option value=1953>1953</option>
                            			<option value=1954>1954</option>
                            			<option value=1955>1955</option>
                            			<option value=1956>1956</option>
                            			<option value=1957>1957</option>
                            			<option value=1958>1958</option>
                            			<option value=1959>1959</option>
                            			<option value=1960>1960</option>
                            			<option value=1961>1961</option>
                            			<option value=1962>1962</option>
                            			<option value=1963>1963</option>
                            			<option value=1964>1964</option>
                            			<option value=1965>1965</option>
                            			<option value=1966>1966</option>
                            			<option value=1967>1967</option>
                            			<option value=1968>1968</option>
                            			<option value=1969>1969</option>
                            			<option value=1970>1970</option>
                            			<option value=1971>1971</option>
                            			<option value=1972>1972</option>
                            			<option value=1973>1973</option>
                            			<option value=1974>1974</option>
                            			<option value=1975>1975</option>
                            			<option value=1976>1976</option>
                            			<option value=1977>1977</option>
                            			<option value=1978>1978</option>
                            			<option value=1979>1979</option>
                            			<option value=1980>1980</option>
                            			<option value=1981>1981</option>
                            			<option value=1982>1982</option>
                            			<option value=1983>1983</option>
                            			<option value=1984>1984</option>
                            			<option value=1985>1985</option>
                            			<option value=1986>1986</option>
                            			<option value=1987>1987</option>
                            			<option value=1988>1988</option>
                            			<option value=1989>1989</option>
                            			<option value=1990>1990</option>
                            			<option value=1991>1991</option>
                            			<option value=1992>1992</option>
                            			<option value=1993>1993</option>
                            			<option value=1994>1994</option>
                            			<option value=1995>1995</option>
                            			<option value=1996>1996</option>
                            			<option value=1997>1997</option>
                            			<option value=1998>1998</option>
                            			<option value=1999>1999</option>
                        			</select>
                        		</div>	   
        
             					<h2 >... oppure scegli il periodo</h2>        
             					<div  data-role="controlgroup" style="width:65%;margin-left:auto;margin-right:auto" >
 
 									<select name="quando-decade" id="select-choice-min" data-mini="true">
   										<option value="1920">Anni '20</option>
   										<option value="1930">Anni '30</option>
   										<option value="1940">Anni '40</option>
   										<option value="1950">Anni '50</option>
   										<option value="1960">Anni '60</option>
   										<option value="1970">Anni '70</option>
   										<option value="1980">Anni '80</option>
 										<option value="1990">Anni '90</option>
									</select> 
                    			</div>
                			</div>  
             

							<div data-role="footer">
           						<a  style="width:45%;margin-left:50%;top:35%;" id="goon" href="#place-photoPage" data-role="button" data-transition="slide">Avanti</a>
            				</div>
        				
        
        </div>
        
        
        					<div data-role="page" id="place-photoPage">
            					<div data-role="header">
            						<a  style="width:25%;margin-left:5%;top:5%;"  href="#addRecordPage" data-role="button" data-transition="slide">Indietro</a> 
     								<p class="header">Località e foto</p>
       							</div>
            					<div data-role="content" data-theme="a" >
     								<div data-role="fieldcontain" style="width:65%;margin-left:auto;margin-right:auto;line-height:75%" >
 										<select id="stati"  name="select-choice" data-mini="true" >
   											<option value="af">Africa</option>
   											<option value="am">America</option>
   											<option value="an">Antartide</option>
   											<option value="as">Asia</option>
   											<option value="eu">Europa</option>
   											<option value="oc">Oceania</option>
   											<option value="it">Italia</option>
 											<option value="tr">Trentino</option>
										</select> 
										<div id="regioniDiv">
											<h2 >Dove di preciso?</h2>  
											<select id="regioni"   name="select-choice-min"  data-mini="true" >     
 												<option value='null'>""</option>
												<option value='regione0'>Abruzzo</option>
												<option value='regione1'>Basilicata</option>
												<option value='regione2'>Calabria</option>
												<option value='regione3'>Campania</option>
												<option value='regione4'>Emilia-Romagna</option>
												<option value='regione5'>Friuli-Venezia Giulia</option>
												<option value='regione6'>Lazio</option>
												<option value='regione7'>Liguria</option>
												<option value='regione8'>Lombardia</option>
												<option value='regione9'>Marche</option>
												<option value='regione10'>Molise</option>
												<option value='regione11'>Piemonte</option>
												<option value='regione12'>Puglia</option>
												<option value='regione13'>Sardegna</option>
												<option value='regione14'>Sicilia</option>
												<option value='regione15'>Toscana</option>
												<option value='regione16'>Trentino-Alto Adige</option>
												<option value='regione17'>Umbria</option>
												<option value='regione18'>Valle d'Aosta</option>
												<option value='regione19'>Veneto</option>
     										</select>
     									</div>
      								</div >
									<a id="phototoggle" data-role="button" style="width:65%;margin-left:auto;margin-right:auto;line-height:50%;" data-icon="star" data-iconpos="right">Fai una fotografia</a>  
           							<div id="photo" >
          								<img src="example.jpg" alt="picture" style="height:50%"/> 
          							</div >
    
								</div>
        						<div data-role="footer">
									<a  style="width:45%;margin-left:50%;top:35%;"  href="#writeRecordPage" data-role="button" data-transition="slide">Avanti</a>
        						</div>
							</div>
        
          
     						<div data-role="page" id="writeRecordPage">
            					<div data-role="header" >
      								<a  style="width:25%;margin-left:5%;top:5%;"  href="#place-photoPage" data-role="button" data-transition="slide">Indietro</a> 
 									<p class="header" id="targetTitle"></p>
            					</div>
            					<div data-role="content" data-theme="a" >
            						<div style="width:25%;position:fixed;">
          								<img src="example.jpg" alt="imageRecord" style="float:left;width:100%"/>
          							</div>
           							<h2 >Ricordo</h2>
          							<textarea name="descrizione" placeholder="Raccontaci un ricordo: puoi scrivere quanto vuoi..." style="float:right;width:70%;resize:vertical;min-height:45%"></textarea>
            					</div>
         
        
                				<div data-role="footer" >
                 	 				<input  style="width:45%;margin-left:50%;top:35%;" type="submit" rel="external" value="Fine">
                  				</div>
                  			</div>
                   </fieldset>
                   </form> 
				</div>

 



  
     
    <div data-role="page" id="ShowRecord">
        <div data-role="header">
        
    <a  style="width:25%;margin-left:5%;top:5%;"  href="#Timeline" data-role="button" data-transition="slide">Indietro</a> 
      <p class="header" id="targetTitle1"></p>

  	

     </div>
        <div data-role="content" data-theme="a">
       <div  id="article" >
        <img id="articlePic" src="example.jpg" style="float:left;" alt="readPicture"/>
    
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper lorem ut leo vulputate at porta nunc mollis. Sed bibendum ligula quis nibh pretium faucibus eget sed enim. Cras nisl risus, tempor a feugiat sit amet, porta ac odio. Aenean eu nisi a justo ultricies eleifend. Fusce vel nunc velit, eu varius nibh. In pulvinar ligula sapien, et pulvinar est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean neque ligula, rhoncus id accumsan eget, mollis a nisi. Praesent porta ultrices orci, eu tempor nisi aliquet eget. Vestibulum sem justo, pretium sagittis luctus vel, hendrerit eu arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu felis lorem. Quisque eu lacus lobortis urna vestibulum auctor. Sed laoreet, arcu eu tristique gravida, dolor dui tempus diam, et tincidunt sem sapien ut odio.

Curabitur eget nisl libero. Mauris eget vestibulum ante. Sed lacinia iaculis aliquet. Curabitur eu mollis velit. Aliquam euismod elit eu diam varius dapibus. In varius, tellus et tristique eleifend, elit leo bibendum lorem, sit amet accumsan erat neque et risus. Nunc felis diam, mollis vel cursus molestie, luctus sit amet justo. Pellentesque mattis interdum velit et egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis nisi in nibh cursus commodo vel in lacus. Donec eget lectus magna, ac semper ipsum.

Morbi eget rhoncus enim. Nunc vitae mauris nisi. Sed dictum arcu quis urna feugiat tincidunt. Maecenas aliquet mollis semper. Fusce elit est, pretium id dapibus eu, iaculis ultricies dui. Vivamus dignissim erat eu velit posuere aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed volutpat nulla non lorem tincidunt convallis. Pellentesque blandit aliquam diam sed iaculis. In eleifend velit sed ante mattis dignissim. Cras sollicitudin congue sapien accumsan hendrerit. Fusce eu purus et orci condimentum tempus.

Cras feugiat, quam ut sollicitudin rhoncus, urna nisi pulvinar orci, at fermentum massa eros eget justo. Morbi euismod ipsum ut nunc cursus quis semper sapien vulputate. Nam egestas ornare vestibulum. Donec mi orci, tristique non convallis id, adipiscing vel sem. Ut vitae risus nunc, id pharetra est. Nullam et nulla neque, ut tempus tellus. Quisque pretium dapibus mattis. Aenean non est odio. Fusce varius, diam in tempus hendrerit, felis est sodales ante, id tincidunt nibh massa porta nibh. Etiam non tortor ante. Phasellus sit amet lacus ut leo feugiat blandit. Nullam vel turpis sed leo hendrerit consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Fusce dui nisi, vulputate eget laoreet id, interdum quis dui. Nulla dictum tellus vel turpis sodales ac consequat nunc pharetra. Integer odio urna, sodales at malesuada consectetur, egestas sed enim. Duis blandit molestie dictum. Duis convallis blandit purus quis volutpat. Nulla varius dignissim odio, eu facilisis urna lacinia a. Maecenas non commodo diam. Suspendisse eu massa quam. Etiam vestibulum mi vel dui iaculis eu lacinia ipsum tristique. Donec scelerisque tincidunt leo id consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras id orci vitae nisl luctus elementum ac egestas magna.
     </div>
        </div>
        <div data-role="footer">
        <a  id="goToModify" style="width:45%;margin-left:50%;top:35%;"  href="#modifyPage" data-role="button" data-transition="slide">Modifica</a>
      
            </div>
        </div>



<div data-role="page" id="modifyPage">
            <div data-role="header">
             <a  style="width:25%;margin-left:5%;top:5%;"  href="#ShowRecord" data-role="button" data-transition="slide">Indietro</a> 
          <p class="header" >Modifica questo ricordo</p>
            </div>
            <div data-role="content" data-theme="a">
                <div style="width:25%;position:fixed;">
                <div >
               
                 <a id="photochange" onClick="changePic()" data-role="button" style="width:100%;line-height:50%" data-icon="photo" data-iconpos="right">Scatta un'altra foto</a>  </div>
          <img id="changing" src="example.jpg" style="float:left;width:100%" alt="newPhoto"/>
          </div>
          <div style="float:right;width:70%;">
            <h2 >Vuoi cambiare il titolo?</h2>
                <div data-role="fieldcontain" >
                    <input id="secondTarget" type="text" name="newTitle" value="" />
                </div>
                  <h2 >Vuoi cambiare il testo?</h2>
          <textarea placeholder="Raccontaci un ricordo: puoi scrivere quanto vuoi..." style="resize:vertical;min-height:45%">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper lorem ut leo vulputate at porta nunc mollis. Sed bibendum ligula quis nibh pretium faucibus eget sed enim. Cras nisl risus, tempor a feugiat sit amet, porta ac odio. Aenean eu nisi a justo ultricies eleifend. Fusce vel nunc velit, eu varius nibh. In pulvinar ligula sapien, et pulvinar est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean neque ligula, rhoncus id accumsan eget, mollis a nisi. Praesent porta ultrices orci, eu tempor nisi aliquet eget. Vestibulum sem justo, pretium sagittis luctus vel, hendrerit eu arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque eu felis lorem. Quisque eu lacus lobortis urna vestibulum auctor. Sed laoreet, arcu eu tristique gravida, dolor dui tempus diam, et tincidunt sem sapien ut odio.

Curabitur eget nisl libero. Mauris eget vestibulum ante. Sed lacinia iaculis aliquet. Curabitur eu mollis velit. Aliquam euismod elit eu diam varius dapibus. In varius, tellus et tristique eleifend, elit leo bibendum lorem, sit amet accumsan erat neque et risus. Nunc felis diam, mollis vel cursus molestie, luctus sit amet justo. Pellentesque mattis interdum velit et egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis nisi in nibh cursus commodo vel in lacus. Donec eget lectus magna, ac semper ipsum.

Morbi eget rhoncus enim. Nunc vitae mauris nisi. Sed dictum arcu quis urna feugiat tincidunt. Maecenas aliquet mollis semper. Fusce elit est, pretium id dapibus eu, iaculis ultricies dui. Vivamus dignissim erat eu velit posuere aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed volutpat nulla non lorem tincidunt convallis. Pellentesque blandit aliquam diam sed iaculis. In eleifend velit sed ante mattis dignissim. Cras sollicitudin congue sapien accumsan hendrerit. Fusce eu purus et orci condimentum tempus.

Cras feugiat, quam ut sollicitudin rhoncus, urna nisi pulvinar orci, at fermentum massa eros eget justo. Morbi euismod ipsum ut nunc cursus quis semper sapien vulputate. Nam egestas ornare vestibulum. Donec mi orci, tristique non convallis id, adipiscing vel sem. Ut vitae risus nunc, id pharetra est. Nullam et nulla neque, ut tempus tellus. Quisque pretium dapibus mattis. Aenean non est odio. Fusce varius, diam in tempus hendrerit, felis est sodales ante, id tincidunt nibh massa porta nibh. Etiam non tortor ante. Phasellus sit amet lacus ut leo feugiat blandit. Nullam vel turpis sed leo hendrerit consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Fusce dui nisi, vulputate eget laoreet id, interdum quis dui. Nulla dictum tellus vel turpis sodales ac consequat nunc pharetra. Integer odio urna, sodales at malesuada consectetur, egestas sed enim. Duis blandit molestie dictum. Duis convallis blandit purus quis volutpat. Nulla varius dignissim odio, eu facilisis urna lacinia a. Maecenas non commodo diam. Suspendisse eu massa quam. Etiam vestibulum mi vel dui iaculis eu lacinia ipsum tristique. Donec scelerisque tincidunt leo id consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras id orci vitae nisl luctus elementum ac egestas magna.</textarea>
            </div></div>
            <div data-role="footer">
            <a  style="width:45%;margin-left:50%;top:35%;"  href="#Timeline" data-role="button" data-transition="slide" onClick="setProperties()">Conferma</a>
       
                </div>
               
            </div>
     


       


<div data-role="page" id="FindFriendsPage">
     <div data-role="header">
    

     <a  style="width:25%;margin-left:5%;top:5%;"  href="#Timeline" data-role="button" data-transition="slide">Esci</a> 
      <p class="header" >Cerca persona</p>
                 </div>
            <div data-role="content" data-theme="a">
            
          
               
               <h2 >Cerca una persona</h2>
         
          <div class="content-primary">	
			<form class="ui-listview-filter ui-bar-c" role="search"></form>
            
            <ul id="friends" data-role="listview" data-filter="true" class="ui-listview">
				
	</ul>
		</div>
            </div>
            <div data-role="footer">
         
                     <a  style="width:45%;margin-left:50%;top:35%;"  href="#FriendsPage" data-role="button" data-transition="slide">Visualizza Amici</a>
                   
               
                </div>
         
        </div>
        
   
 

     
         <div data-role="page" id="FriendsPage">
            <div data-role="header">
         <p class="header" >Amici</p>
 <a  style="width:25%;margin-left:5%;top:5%;"  href="#FindFriendsPage" data-role="button" data-transition="slide">Indietro</a> 
            </div>
            <div data-role="content" data-theme="a">
          <h2 >Seleziona per vedere le informazioni</h2>
         
          <ul id="flist" data-role="listview">
			
            </ul>
            </div>
            <div data-role="footer">
              <a  style="width:45%;margin-left:50%;top:35%;"  href="#Timeline" data-role="button" data-transition="slide">Torna alla pagina principale</a>
 
                </div>
            </div>
     </body>


			
        
<!--
        <div data-role="page" id="page">
            <div data-role="header">
         

            </div>
            <div data-role="content">
          
            </div>
            <div data-role="footer">
        
                </div>
            </div>
        </div>
        -->
   
    
        
        	
